<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security/tags"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>лента</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Navbar</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Student management</a>
            </li>
        </ul>
    </div>

    <div sec:authorize="hasAnyRole('ADMIN','USER')" class="float-right">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Выход</a>
            </li>
        </ul>
    </div>
    <div sec:authorize="!hasAnyRole('ADMIN','USER')" class="float-right">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/enter}">Вход</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">Регистрация</a>
            </li>
        </ul>
    </div>
</nav>
<div sec:authorize="hasAnyRole('ADMIN','USER')">Text visible to user.</div>
</body>
</html>